* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1c1917;
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    color: white;
    font-family: 'Inter', sans-serif;
}

.button-container {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
  }

.difficulty-button {
    background-color: #a8a29e;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    opacity: 90%;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 5px;
    cursor: pointer;
}

.difficulty-button:hover {
    background-color: #78716c;
}

.reset-container {
    display: flex;
    margin-bottom: 15px
}

.reset-button {
    background-color: #e7e5e4;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    opacity: 90%;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #78716c;
}

.music-button {
    background-color: #e7e5e4;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    opacity: 90%;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.music-button:hover {
    background-color: #78716c;
}

.title {
    margin: 20px;
    color: white
}

.subtext {
    color: #e7e5e4;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.board {
    display: inline-grid;
    padding: 10px;
    gap: 4px;
    background-color: #78716c;
    transition: all 0.3s ease-in-out;
}

.board > * {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #e7e5e4;
    user-select: none;
    font-weight: bold'
}

.board[data-size="10"] {
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
    font-size: 23px;
}

.board[data-size="12"] {
    grid-template-columns: repeat(12, 30px);
    grid-template-rows: repeat(12, 30px);
    font-size: 20px;
}

.board[data-size="16"] {
    grid-template-columns: repeat(16, 25px);
    grid-template-rows: repeat(16, 25px);
    font-size: 17px;
}

.board > [data-status = "hidden"] {
    background-color: #a8a29e;
    cursor: pointer;
}

.board > [data-status = "mine"] {
    background-color: #b91c1c;
}

.board > [data-status = "number"] {
    background-color: none;
}

.board > [data-status = "marked"] {
    background-color: #166534;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

.timer {
    color: #e7e5e4;
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 600;
}

.score {
    color: #e7e5e4;
    font-size: 1.2rem;
    margin-top: 5px;
    font-weight: 600;
}